<!DOCTYPE HTML>
<html>
<head>
	<title>忆天堂 - The Memory of Heaven</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<img src="__ROOT__/Public/img/logo.png">
		</div>
	</header>
	<div class="container">
		<div class="guide">
			<!-- <h4>人间留足迹，天堂寻追忆！</h4>
			<p>Footprint in the world, memories in the heaven! </p> -->
			<img src="__ROOT__/Public/img/guide.png">
		</div>
		<div class="notice">
			<h1><p>公告：</p></h1>
			<p>Notice：</p>
			<br />
			<p><span>这里是忆天堂官方网站，忆天堂是为逝去的生命悼念之所。更多内容</span></p>
			<p>Here is The Memory of Heaven's offical website.Mourning the loss life.More.</p>
		</div>
		<div class="img-box">
			<div class="lg-box">
			<div class="lg"><div><img src="__ROOT__/Public/img/pic/01.jpg"></div></div>
			<div class="lg"><div><img src="__ROOT__/Public/img/pic/02.jpg"></div></div>
			</div>
			<div class="sm-box">
			<div class="sm"><div><img src="__ROOT__/Public/img/pic/03.jpg"></div></div>
			<div class="sm"><div><img src="__ROOT__/Public/img/pic/04.jpg"></div></div>
			<div class="sm"><div><img src="__ROOT__/Public/img/pic/05.jpg"></div></div>
			</div>
		</div>
		<div class="form">
			<div class="top">
				<a href="">悼南京大屠杀牺牲者</a><br /><br />
				<a href="">悼抗日战争英勇牺牲荣誉士兵</a><br /><br />
			</div>
			<div class="mid">
				<a href="">悼抗美援朝英勇牺牲荣誉士兵</a><br /><br />
				<a href="">悼南京大屠杀牺牲者</a><br /><br />
				<a href="">悼抗日战争英勇牺牲荣誉士兵</a><br /><br />
				<a href="">悼南京大屠杀牺牲者</a><br /><br />
				<a href="">悼抗日战争英勇牺牲荣誉士兵</a><br /><br />
				<a href="">悼南京大屠杀牺牲者</a><br /><br />
				<a href="">悼抗日战争英勇牺牲荣誉士兵</a><br /><br />
				<a href="">悼南京大屠杀牺牲者</a><br /><br />
				<a href="">悼抗日战争英勇牺牲荣誉士兵</a><br /><br />
			</div>
			<div class="bottom">
				<a href="">悼抗美援朝英勇牺牲荣誉士兵</a><br /><br />
				<a href="">悼南京大屠杀牺牲者</a><br /><br />
				<a href="">悼抗日战争英勇牺牲荣誉士兵</a><br /><br />
				<a href="">悼南京大屠杀牺牲者</a><br /><br />
				<a href="">悼抗日战争英勇牺牲荣誉士兵</a><br /><br />
				<a href="">悼南京大屠杀牺牲者</a><br /><br />
				<a href="">悼抗日战争英勇牺牲荣誉士兵</a><br /><br />
				<a href="">悼南京大屠杀牺牲者</a><br /><br />
				<a href="">悼抗日战争英勇牺牲荣誉士兵</a><br /><br />
				<a href="">悼南京大屠杀牺牲者</a><br /><br />
				<a href="">悼抗日战争英勇牺牲荣誉士兵</a><br /><br />
			</div>
		</div>
		<div class="bottom-pic">
			<img src="__ROOT__/Public/img/bottom.jpg">
		</div>
		<div class="more-link">
			<a href="">详细内容</a>
			<div class="icon"></div>
		</div>
	</div>
	<div class="bottom">
		<div class="title">
			<span>联系我们</span>
			<span>关于我们</span>
		</div>
		<div class="contact">
			<span>邮箱：youhancompany@youhan.com</span>
			<span>QQ：123456789</span>
			<span>电话：12345678912</span>
			<span>南京优汉文化有限公司</span>
		</div>
	</div>
	<footer>
		<span>©2015-2015</span>
		<span>ICP证：苏B1-20150000</span>
		<span>南京优汉文化有限公司版权所有</span>
	</footer>
</body><div>
</html>