<!DOCTYPE HTML>
<html>

<head>
    <title>忆天堂 - The Memory of Heaven</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <img src="__ROOT__/Public/img/logo.png">
        </div>
    </header>
    <div class="container">
        <div class="guide">
            <!-- <h4>人间留足迹，天堂寻追忆！</h4>
            <p>Footprint in the world, memories in the heaven! </p> -->
            <img src="__ROOT__/Public/img/guide.png">
        </div>
        <div class="form">
            <div class="top">
                <a>悼念已逝的那些人</a>
                <br />
                <br />
                <a>Mourn the dead</a>
                <br />
                <br />
            </div>
            <div class="mid">
            <section style="max-width: 100%; margin: 0.8em 0px 0.5em; overflow: hidden; box-sizing: border-box; padding: 0px;">
                        <section class="135brush" data-brushtype="text" placeholder="请输入标题" style="height: 36px; display: inline-block; color: rgb(255, 255, 255); font-size: 16px; font-weight: bold; padding: 0px 10px; line-height: 36px; float: left; vertical-align: top; background-color: rgb(30, 155, 232); box-sizing: border-box !important; margin: 0px;"><a id="return" href="__URL__/Index/">返回</a></section>
                    </section>
                <div style="text-align:center"><img id="personimg" style="display:inline-block;width:140px;height:200px;"></div>
                <div style="display:inline-block;"><span style=" line-height:30px">&nbsp;&nbsp;&nbsp;&nbsp;{$content}</span></div>
            </div>
            <div class="bottom" style="text-align:left;color:black">
                <div>
                    <section style="max-width: 100%; margin: 0.8em 0px 0.5em; overflow: hidden; box-sizing: border-box; padding: 0px;">
                        <section class="135brush" data-brushtype="text" placeholder="请输入标题" style="height: 36px; display: inline-block; color: rgb(255, 255, 255); font-size: 16px; font-weight: bold; padding: 0px 10px; line-height: 36px; float: left; vertical-align: top; background-color: rgb(30, 155, 232); box-sizing: border-box !important; margin: 0px;">评论</section>
                    </section>
                </div>
                <span style="text-align:left;color:black">昵称：</span>
                <input type="text" id="txtNickname">
                <button id="btnPray">祈祷</button>
                <button id="btnFlower">献花</button>
                </br>
                </br>
                <span style="text-align:left;color:black">评论内容：<br><br></span>
                <textarea rows="7" cols="100" id="txtComment" placeholder="在这里你可以写下你的评论"></textarea>
                <br>
                <br>
                <button type="button" id="btnSubmit">提交评论</button>
                <br>
                <br>
                <div>
                    <volist name="arrComment" id="vo">
                        {$vo.time}
                        <switch name="vo.type">
                            <case value="0"><b>{$vo.nickname}</b>评论：&nbsp;&nbsp;{$vo.comment}</br>
                            </case>
                            <case value="1"><b>{$vo.nickname}</b>为逝者祈祷</br>
                            </case>
                            <case value="2"><b>{$vo.nickname}</b>为逝者献花</br>
                            </case>
                            <default />诶
                        </switch>
                    </volist>
                </div>
            </div>
        </div>
        <div class="bottom-pic">
            <img src="__ROOT__/Public/img/bottom.jpg">
        </div>
        <div class="more-link">
            <a href="">详细内容</a>
            <div class="icon"></div>
        </div>
    </div>
    <div class="bottom">
        <div class="title">
            <span>联系我们</span>
            <span>关于我们</span>
        </div>
        <div class="contact">
            <span>邮箱：youhancompany@youhan.com</span>
            <span>QQ：123456789</span>
            <span>电话：12345678912</span>
            <span>南京优汉文化有限公司</span>
        </div>
    </div>
    <footer>
        <span>©2015-2015</span>
        <span>ICP证：苏B1-20150000</span>
        <span>南京优汉文化有限公司版权所有</span>
    </footer>
</body>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript">


$(document).ready(function() {
    var pid = <?=$pid?>;
    var imgurl =" __ROOT__/Public/img/"+pid+".jpg";
    $("#personimg").attr("src",imgurl);
    $("#btnSubmit").click(function() {
        var nickname = $("#txtNickname").val();
        var comment = $("#txtComment").val();
        if (nickname === "") {
            alert("请填写昵称");
            return false;
        };
        if (comment === "") {
            alert("请输入评论内容");
            return false;
        };
        $.post("{:U('Index/Submit')}", {
            pid: pid,
            type: 0,
            nickname: nickname,
            comment: comment
        }, function(back) {
            if (back.status === 0) {
                alert("评论成功");
                 location.reload();
            } else {
                alert("评论失败");
                console.log(back);
            };
        })
    })
    $("#btnPray").click(function() {
        var nickname = $("#txtNickname").val();
        if (nickname === "") {
            alert("请填写昵称");
            return false;
        };
        $.post("{:U('Index/Submit')}", {
            pid: pid,
            type: 1,
            nickname: nickname
        }, function(back) {
            if (back.status === 0) {
                alert("祈祷成功");
                location.reload();
            } else {
                alert("失败");
                console.log(back);
            };
        })
    })
    $("#btnFlower").click(function() {
        var nickname = $("#txtNickname").val();
        if (nickname === "") {
            alert("请填写昵称");
            return false;
        };
        $.post("{:U('Index/Submit')}", {
            pid: pid,
            type: 2,
            nickname: nickname
        }, function(back) {
            if (back.status === 0) {
                alert("献花成功");
                location.reload();
            } else {
                alert("失败");
                console.log(back);
            };
        })
    })
})

</script>
<div>

</html>

